################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Phi-3SimpleChat/bin
/Phi-3SimpleChat/obj
/Phi-3SimpleChat/onnx-models/
